* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


#search-page {
  height: 837px;
  background-color: #000000;
}


.heading {
  position: absolute;
  width: 692.27px;
  height: 144px;
  left: 418px;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 121px;
  color: #FFFFFF;
}

.search-box {
  box-sizing: border-box;
  position: absolute;
  width: 1100px;
  height: 72px;
  left: 146px;
  top: 202px;
  border-radius: 10px;
  background: transparent;
  font-size: 25px;
  padding: 10px;
  color: white;
  border: 1px solid #FFFFFF;
}

.search-btn {
  position: absolute;
  width: 260.75px;
  height: 58px;
  left: 146px;
  top: 318px;
  font-size: 25px;
  font-weight: 300;
  line-height: 29px;
  background: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}

.heading1 {
  position: absolute;
  width: 912px;
  height: 160px;
  left: 90px;
  top: 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 121px;

  color: #000000;
}

.region {
  position: relative;
  left: 110px;
}

.lat {
  position: relative;
  left: 110px;
}

.checkbox {
  position: absolute;
  width: 769.46px;
  height: 74px;
  left: -20px;
  display: flex;
  justify-content: space-between;
  top: 50px;
  padding: 150px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  align-items: center;

}

.api-data {
  box-sizing: border-box;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 1185px;
  height: 920px;
  left: 90px;
  top: 242px;
  background: black;
  border: 2px solid whitesmoke;
  color: #FFFFFF;
}

input:checked {
  margin: 10px;
}

.api-data img {
  position: relative;
  left: 500px;
  width: 100px;
  height: 100px;
}

.api-data p {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 20px;
}

p span {
  margin-left: 200px;
}

input {
  width: 20px;
}